body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.add-to-cart-button, a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.cart-button {
    display: block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.cart {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}


.total {
    font-weight: bold;
}

.btn {
    display: block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.on {
    display: block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.off {
    display: block;
    background-color: #af4c4c;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.cart-item img
{
    max-height: 200px;
}